{% extends "base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block extra_css %}
<style>
    body {
        background-color: #d8bfd8;
    }
</style>
{% endblock %}

{% block content %}
<h1>Личный кабинет</h1>
<div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'cat.jpg' %}" alt="Аватарка">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Профиль</h5>
                <br />
                <u><p class="card-text">Имя</p></u>
                <u><p class="card-text">День рождения</p></u>
                <u><p class="card-text">Любимый жанр</p></u>
                <br />
                <p class="card-text">
                    <small class="text-body-secondary">Был в сети 5 минут назад</small>
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<h4>История прослушивания</h4>
{% endblock %}