{% comment %} <!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">LyriQuest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'music' %}">Музыка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'profile' %}">Личный кабинет</a>
          </li>
        </ul>
        <li class="nav-item">
          <u><a class="nav-link reg" href="{% url 'auth' %}">Регистрация/аутентификация</a></u>
        </li>
      </div>
    </div>
  </nav> {% endcomment %}